{{#hasPermission user_id }}
  <h1><input name='title' placeholder="Topic"  autofocus /></h1>
{{else}}
  <h1 data-bind='title'>{{title}}</h1>
{{/hasPermission}}
</h1>
{{#hasPermission user_id }}
  <input class='text-expiration' placeholder='expires on...'>
  <input type='hidden' name='expiration'/>
{{/hasPermission}}
<small class='date-helper'></small>
<br/>
{{#hasPermission user_id }}
  <textarea name='description' placeholder='description'></textarea>
{{else}}
  <p data-bind='description'>{{ description }}</p>
{{/hasPermission}}
<br/>
{{#if id}}
  <a href="/ideas/{{id}}" class='permalink'>Permalink</a>
{{/if}}
<br/><br/>
{{#hasPermission user_id }}
  {{#if id}}
    <a href='#' class='archive'>ARCHIVE</a>
  {{/if}}
{{/hasPermission}}

<div class='voters'></div>

<div class='ideas'></div>
{{#unless id }}
  <button class="submit">Submit</button>
{{/unless}}