<div class="ideaGrid {{#if original}}original{{/if}}">
  <div class="ideaAuthor">
    <img class="avatar" src="{{ gravatar user.email }}" alt="{{ displayName user }}" title="{{ displayName user }}">
  </div>
  <div class="ideaInfo">
    <h2 class="ideaTitle" ><span data-bind='title'>{{ title }}</span></h2>
    {{#if description}}<p data-bind='description' class="ideaDescription">{{ description }}</p>{{/if}}
  </div>
  <div class="ideaAction">
    <button class='vote' data-bind='total_votes'>{{ total_votes }}</button>
    <button class='comments'>Comments</button>
  </div>
</div>
<div class="ideaVoters"></div>
{{#hasPermission user.id}}
<div class="ideaControl">
  <button class='plain edit'   ></button>
  <button class='plain destroy'></button>
</div>
{{/hasPermission}}
